{{#each articles}}
<div class="story-body" id={{this._id}}>
    <h2>{{this.title}}</h2>
    <a href="https://www.nytimes.com{{this.link}}" target="_blank">Read full article</a>
    <summary>{{this.summary}}</summary>
</div>
{{/each}}